In [1]:
import pandas as pd

In [2]:
from sklearn import datasets

In [9]:
boston = datasets.load_boston()
X = pd.DataFrame(boston.data)
y = pd.DataFrame(boston.target)

In [10]:
import numpy as np

In [11]:
X.shape, y.shape

((506, 13), (506, 1))

In [12]:
np.hstack((X, y))

array([[  6.32000000e-03,   1.80000000e+01,   2.31000000e+00, ...,
          3.96900000e+02,   4.98000000e+00,   2.40000000e+01],
       [  2.73100000e-02,   0.00000000e+00,   7.07000000e+00, ...,
          3.96900000e+02,   9.14000000e+00,   2.16000000e+01],
       [  2.72900000e-02,   0.00000000e+00,   7.07000000e+00, ...,
          3.92830000e+02,   4.03000000e+00,   3.47000000e+01],
       ...,
       [  6.07600000e-02,   0.00000000e+00,   1.19300000e+01, ...,
          3.96900000e+02,   5.64000000e+00,   2.39000000e+01],
       [  1.09590000e-01,   0.00000000e+00,   1.19300000e+01, ...,
          3.93450000e+02,   6.48000000e+00,   2.20000000e+01],
       [  4.74100000e-02,   0.00000000e+00,   1.19300000e+01, ...,
          3.96900000e+02,   7.88000000e+00,   1.19000000e+01]])

In [15]:
combined = pd.DataFrame(np.hstack((X,y)))

In [16]:
combined

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0.0,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45,15.0
11,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0.0,0.538,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0.0,0.538,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0.0,0.538,5.990,81.7,4.2579,4.0,307.0,21.0,386.75,14.67,17.5
18,0.80271,0.0,8.14,0.0,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2
20,1.25179,0.0,8.14,0.0,0.538,5.570,98.1,3.7979,4.0,307.0,21.0,376.57,21.02,13.6
21,0.85204,0.0,8.14,0.0,0.538,5.965,89.2,4.0123,4.0,307.0,21.0,392.53,13.83,19.6
22,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4.0,307.0,21.0,396.90,18.72,15.2
23,0.98843,0.0,8.14,0.0,0.538,5.813,100.0,4.0952,4.0,307.0,21.0,394.54,19.88,14.5
24,0.75026,0.0,8.14,0.0,0.538,5.924,94.1,4.3996,4.0,307.0,21.0,394.33,16.30,15.6
25,0.84054,0.0,8.14,0.0,0.538,5.599,85.7,4.4546,4.0,307.0,21.0,303.42,16.51,13.9
26,0.67191,0.0,8.14,0.0,0.538,5.813,90.3,4.6820,4.0,307.0,21.0,376.88,14.81,16.6
27,0.95577,0.0,8.14,0.0,0.538,6.047,88.8,4.4534,4.0,307.0,21.0,306.38,17.28,14.8
28,0.77299,0.0,8.14,0.0,0.538,6.495,94.4,4.4547,4.0,307.0,21.0,387.94,12.80,18.4
29,1.00245,0.0,8.14,0.0,0.538,6.674,87.3,4.2390,4.0,307.0,21.0,380.23,11.98,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,4.87141,0.0,18.10,0.0,0.614,6.484,93.6,2.3053,24.0,666.0,20.2,396.21,18.68,16.7
477,15.02340,0.0,18.10,0.0,0.614,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91,12.0
478,10.23300,0.0,18.10,0.0,0.614,6.185,96.7,2.1705,24.0,666.0,20.2,379.70,18.03,14.6
479,14.33370,0.0,18.10,0.0,0.614,6.229,88.0,1.9512,24.0,666.0,20.2,383.32,13.11,21.4
480,5.82401,0.0,18.10,0.0,0.532,6.242,64.7,3.4242,24.0,666.0,20.2,396.90,10.74,23.0
481,5.70818,0.0,18.10,0.0,0.532,6.750,74.9,3.3317,24.0,666.0,20.2,393.07,7.74,23.7
482,5.73116,0.0,18.10,0.0,0.532,7.061,77.0,3.4106,24.0,666.0,20.2,395.28,7.01,25.0
483,2.81838,0.0,18.10,0.0,0.532,5.762,40.3,4.0983,24.0,666.0,20.2,392.92,10.42,21.8
484,2.37857,0.0,18.10,0.0,0.583,5.871,41.9,3.7240,24.0,666.0,20.2,370.73,13.34,20.6
485,3.67367,0.0,18.10,0.0,0.583,6.312,51.9,3.9917,24.0,666.0,20.2,388.62,10.58,21.2
486,5.69175,0.0,18.10,0.0,0.583,6.114,79.8,3.5459,24.0,666.0,20.2,392.68,14.98,19.1
487,4.83567,0.0,18.10,0.0,0.583,5.905,53.2,3.1523,24.0,666.0,20.2,388.22,11.45,20.6
488,0.15086,0.0,27.74,0.0,0.609,5.454,92.7,1.8209,4.0,711.0,20.1,395.09,18.06,15.2
489,0.18337,0.0,27.74,0.0,0.609,5.414,98.3,1.7554,4.0,711.0,20.1,344.05,23.97,7.0
490,0.20746,0.0,27.74,0.0,0.609,5.093,98.0,1.8226,4.0,711.0,20.1,318.43,29.68,8.1
491,0.10574,0.0,27.74,0.0,0.609,5.983,98.8,1.8681,4.0,711.0,20.1,390.11,18.07,13.6
492,0.11132,0.0,27.74,0.0,0.609,5.983,83.5,2.1099,4.0,711.0,20.1,396.90,13.35,20.1
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,6.0,391.0,19.2,396.90,12.01,21.8
494,0.27957,0.0,9.69,0.0,0.585,5.926,42.6,2.3817,6.0,391.0,19.2,396.90,13.59,24.5
495,0.17899,0.0,9.69,0.0,0.585,5.670,28.8,2.7986,6.0,391.0,19.2,393.29,17.60,23.1
496,0.28960,0.0,9.69,0.0,0.585,5.390,72.9,2.7986,6.0,391.0,19.2,396.90,21.14,19.7
497,0.26838,0.0,9.69,0.0,0.585,5.794,70.6,2.8927,6.0,391.0,19.2,396.90,14.10,18.3
498,0.23912,0.0,9.69,0.0,0.585,6.019,65.3,2.4091,6.0,391.0,19.2,396.90,12.92,21.2
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6.0,391.0,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33,16.8
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [42]:
def split_into_train_test(f, output, inp=None, percent=0.8):
  import pandas as pd
  df = pd.read_csv(f, index_col=0)

  train, test = split_dataframe(df, output, inp, percent)

def split_dataframe(df, output, inp=None, percent=0.8):
  x = None
  if inp == None:
    x = df.drop(output, axis=1)
  else:
    x = df[inp]

  y = df[[output]]

  from sklearn.cross_validation import train_test_split
  x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=percent)
    
  return combine(x_train, y_train), combine(x_test, y_test)

def combine(X, y):
  import numpy as np
  #print(X.shape, y.shape,type(X), type(y))
  return pd.DataFrame(np.hstack((X, y)))

In [43]:
train, test = split_dataframe(combined, 13)

In [47]:
bankingDf = pd.read_csv('banking.csv')

In [49]:
bankingDf.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [50]:
X = bankingDf.drop('y', axis=1)
y = bankingDf[['y']]

In [51]:
bankingDf.shape

(41188, 21)

In [52]:
X.shape, y.shape

((41188, 20), (41188, 1))

In [53]:
from sklearn.cross_validation import train_test_split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

In [55]:
from sklearn.linear_model import LogisticRegressionCV

In [56]:
model = LogisticRegressionCV(cv=10)

In [58]:
ba

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
3273,47,admin.,married,university.degree,no,no,no,cellular,aug,wed,63,3,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
39439,28,blue-collar,married,high.school,no,no,yes,telephone,may,mon,21,2,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1
28505,34,admin.,single,high.school,no,no,yes,cellular,jun,thu,207,1,999,0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2
18409,25,admin.,single,high.school,no,no,no,cellular,apr,fri,178,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
23597,47,services,married,high.school,unknown,yes,no,cellular,aug,wed,277,2,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
22007,57,admin.,divorced,university.degree,no,yes,no,telephone,may,tue,105,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
18102,41,management,married,unknown,no,yes,no,cellular,may,fri,588,1,18,2,failure,-1.8,93.876,-40.0,0.695,5008.7
8292,55,admin.,married,university.degree,no,yes,no,cellular,jul,fri,687,1,999,2,failure,-1.7,94.215,-40.3,0.790,4991.6
27898,49,admin.,married,high.school,no,yes,yes,cellular,jul,mon,263,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
37114,57,retired,single,unknown,unknown,yes,yes,cellular,jul,mon,174,6,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
4367,56,blue-collar,married,basic.4y,no,no,no,telephone,jun,thu,136,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
30320,55,admin.,married,high.school,unknown,yes,no,cellular,may,tue,139,2,999,1,failure,-1.8,92.893,-46.2,1.291,5099.1
34188,37,services,married,high.school,no,yes,no,telephone,may,tue,522,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
21256,33,management,married,university.degree,no,yes,no,cellular,nov,mon,681,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
27260,77,retired,married,unknown,no,yes,no,cellular,nov,fri,381,1,999,0,nonexistent,-3.4,92.649,-30.1,0.714,5017.5
38779,33,blue-collar,married,basic.9y,no,no,no,cellular,may,fri,339,1,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1
25195,51,management,married,university.degree,unknown,no,no,cellular,jul,mon,60,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
38792,51,entrepreneur,married,university.degree,no,no,no,telephone,may,wed,98,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
20075,28,services,married,high.school,no,yes,no,telephone,jul,wed,145,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
35622,40,technician,single,university.degree,unknown,no,yes,telephone,may,thu,385,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
6781,41,blue-collar,married,high.school,no,yes,no,telephone,may,fri,70,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
12483,32,admin.,single,basic.9y,no,no,no,cellular,jul,thu,185,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
19435,30,entrepreneur,single,high.school,no,no,yes,cellular,jul,tue,295,4,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4921,40,admin.,married,university.degree,no,no,yes,cellular,aug,fri,200,2,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
35644,56,technician,single,professional.course,no,yes,no,cellular,nov,tue,116,6,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
39819,29,admin.,single,high.school,no,yes,no,telephone,may,mon,41,2,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1
32651,51,services,married,high.school,no,unknown,unknown,telephone,jun,fri,133,5,999,0,nonexistent,1.4,94.465,-41.8,4.947,5228.1
14191,34,management,married,university.degree,no,yes,no,cellular,apr,tue,255,2,999,0,nonexistent,-1.8,93.075,-47.1,1.453,5099.1
31344,82,retired,married,high.school,unknown,yes,no,cellular,may,mon,135,3,999,0,nonexistent,-1.8,93.876,-40.0,0.682,5008.7
10863,35,technician,married,university.degree,no,no,no,cellular,apr,mon,124,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8668,58,admin.,single,university.degree,no,no,no,cellular,may,tue,358,1,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
39878,28,admin.,married,basic.6y,no,no,no,telephone,may,wed,461,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
19408,42,blue-collar,married,basic.9y,no,yes,no,telephone,jun,mon,88,1,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1
23122,34,management,married,university.degree,no,yes,no,cellular,oct,fri,87,1,2,1,success,-3.4,92.431,-26.9,0.739,5017.5
20532,41,blue-collar,married,high.school,no,yes,no,cellular,may,fri,239,1,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
38583,56,admin.,married,unknown,unknown,unknown,unknown,cellular,aug,fri,119,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
18065,45,technician,married,university.degree,no,yes,no,cellular,jul,fri,115,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
22397,30,blue-collar,married,basic.9y,no,yes,no,telephone,nov,thu,25,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
14373,43,admin.,married,high.school,no,no,no,cellular,jul,mon,999,2,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
19063,47,blue-collar,married,basic.9y,no,yes,no,cellular,nov,wed,88,1,999,1,failure,-0.1,93.200,-42.0,4.120,5195.8
33312,32,admin.,married,professional.course,no,yes,no,cellular,oct,tue,169,1,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5
21160,53,entrepreneur,single,basic.9y,no,no,no,telephone,may,tue,144,7,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
7732,33,admin.,married,university.degree,no,yes,no,cellular,apr,thu,124,1,999,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1
29197,56,admin.,married,university.degree,no,yes,no,cellular,sep,thu,169,2,3,2,success,-3.4,92.379,-29.8,0.778,5017.5
17669,33,services,married,high.school,no,no,yes,telephone,may,fri,437,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0
40763,47,management,married,basic.9y,no,yes,no,cellular,jun,tue,118,2,3,1,success,-2.9,92.963,-40.8,1.262,5076.2
17699,57,unknown,married,unknown,unknown,yes,no,telephone,may,mon,48,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1659,42,management,married,university.degree,unknown,yes,no,telephone,may,mon,181,4,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2620,46,services,divorced,basic.4y,no,no,no,cellular,may,fri,493,7,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
7358,50,entrepreneur,married,basic.9y,no,yes,no,telephone,jun,thu,119,1,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
14318,45,admin.,divorced,university.degree,no,yes,no,cellular,may,tue,351,1,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
16292,37,entrepreneur,divorced,university.degree,no,no,yes,cellular,may,thu,95,3,999,0,nonexistent,-1.8,92.893,-46.2,1.270,5099.1
19864,49,unemployed,married,high.school,unknown,no,no,cellular,aug,fri,125,2,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
10176,41,blue-collar,married,high.school,no,no,yes,telephone,apr,thu,55,2,999,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1
26760,42,admin.,married,university.degree,no,no,no,cellular,jul,thu,1142,5,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
15310,36,admin.,single,university.degree,no,no,no,cellular,aug,thu,42,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4823,49,services,married,high.school,no,no,no,cellular,jun,tue,239,4,999,0,nonexistent,-2.9,92.963,-40.8,1.286,5076.2
22471,41,blue-collar,single,basic.4y,unknown,unknown,unknown,cellular,jul,wed,72,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
25737,33,blue-collar,married,basic.4y,unknown,yes,yes,cellular,nov,thu,129,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
2961,33,self-employed,divorced,university.degree,no,yes,no,cellular,may,thu,130,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1

In [59]:
pd.read_csv('banking-batch.csv')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,128,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,290,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,44,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,68,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,170,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
10,25,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,301,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
11,36,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,148,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
12,36,admin.,married,high.school,no,no,no,telephone,may,wed,97,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0
13,47,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,211,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
14,29,admin.,single,high.school,no,no,no,cellular,may,fri,553,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
15,27,services,single,university.degree,no,no,no,cellular,jul,wed,698,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
16,44,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,191,6,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1
17,46,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,59,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
18,45,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,38,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
19,50,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,849,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
20,55,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,326,6,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
21,39,technician,divorced,high.school,no,no,no,cellular,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
22,29,technician,single,university.degree,no,yes,yes,cellular,aug,wed,626,3,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
23,40,management,married,high.school,no,no,yes,cellular,aug,wed,119,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
24,44,technician,married,professional.course,unknown,yes,no,telephone,may,fri,388,7,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0
25,38,technician,married,professional.course,no,yes,no,cellular,aug,mon,479,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
26,36,technician,divorced,professional.course,no,no,no,telephone,may,wed,446,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
27,28,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,68,2,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1
28,47,admin.,single,unknown,unknown,no,no,telephone,may,thu,127,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
29,34,admin.,married,university.degree,no,no,no,cellular,aug,tue,109,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,115,1,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5
4090,43,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,593,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4091,38,management,married,high.school,unknown,no,no,telephone,may,thu,879,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
4092,30,blue-collar,single,high.school,no,no,no,telephone,jul,wed,71,1,999,0,nonexistent,1.4,93.918,-42.7,4.956,5228.1
4093,56,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,580,3,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4094,62,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,152,1,6,1,success,-3.4,92.649,-30.1,0.719,5017.5
4095,36,admin.,single,university.degree,no,no,yes,cellular,aug,fri,69,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4096,33,services,married,high.school,no,no,no,telephone,may,mon,146,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4097,41,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,102,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4098,34,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,159,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4099,58,admin.,divorced,high.school,no,no,no,cellular,aug,tue,290,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4100,41,admin.,divorced,high.school,no,no,no,cellular,apr,fri,620,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
4101,35,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,88,5,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
4102,31,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,70,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4103,43,services,married,high.school,no,no,no,telephone,may,mon,77,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4104,42,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,408,1,999,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1
4105,47,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,159,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4106,45,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,29,3,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
4107,36,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,155,11,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
4108,32,admin.,married,university.degree,no,yes,no,telephone,may,thu,151,5,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
4109,63,retired,married,high.school,no,no,no,cellular,oct,wed,1386,1,999,0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5
4110,53,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,85,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
4111,30,technician,married,university.degree,no,no,yes,cellular,jun,fri,131,1,999,1,failure,-1.7,94.055,-39.8,0.748,4991.6
4112,31,technician,single,professional.course,no,yes,no,cellular,nov,thu,155,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
4113,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,463,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,53,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,219,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1
4116,27,student,single,high.school,no,no,no,cellular,may,mon,64,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,528,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,175,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
resDf = pd.read_csv('reastaurant-testingdata.csv')

In [62]:
resDf

       day  time(hr)  no of customer  holiday  offers  Chicken needed (kgs)
0   Sunday         9              50        1       0                     0
1   Sunday        10              30        1       0                     0
2   Sunday        11              50        1       0                    50
3   Sunday        12             100        1       0                   100
4   Sunday        13              70        1       0                   200
5   Sunday        14               0        1       0                     0
6   Sunday        15               0        1       0                     0
7   Sunday        16               0        1       0                     0
8   Sunday        17               0        1       0                     0
9   Sunday        18               0        1       0                     0
10  Sunday        19             100        1       0                   100
11  Sunday        20             100        1       0                   200
12  Sunday        21             100        1       0                   100
13  Sunday         9              50        1       1                    10
14  Sunday        10              30        1       1                    10
15  Sunday        11              50        1       1                    80
16  Sunday        12             100        1       1                   150
17  Sunday        13              70        1       1                   250
18  Sunday        14               0        1       1                     0
19  Sunday        15               0        1       1                     0
20  Sunday        16               0        1       1                     0
21  Sunday        17               0        1       1                     0
22  Sunday        18               0        1       1                     0
23  Sunday        19             100        1       1                   150
24  Sunday        20             100        1       1                   250
25  Sunday        21             100        1       1                   200
26  Monday         9              40        1       0                     5
27  Monday        10              20        1       0                     5
28  Monday        11              10        1       0                     5
29  Monday        12              90        1       0                    15
30  Monday        13              30        1       0                    25
31  Monday        14               0        1       0                     0
32  Monday        15               0        1       0                     0
33  Monday        16               0        1       0                     0
34  Monday        17               0        1       0                     0
35  Monday        18               0        1       0                     0
36  Monday        19              60        1       0                    15
37  Monday        20              80        1       0                    25
38  Monday        21              60        1       0                    20

In [63]:
encoder = LabelEncoder()

In [66]:
resDf['day'] = encoder.fit_transform(resDf['day'])

In [68]:
resDf.head()

   day  time(hr)  no of customer  holiday  offers  Chicken needed (kgs)
0    1         9              50        1       0                     0
1    1        10              30        1       0                     0
2    1        11              50        1       0                    50
3    1        12             100        1       0                   100
4    1        13              70        1       0                   200

In [70]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold

In [75]:
models = []

kf = KFold(len(resDf), n_folds=6)

In [76]:
x = resDf.drop('Chicken needed (kgs)', axis=1)
y = resDf['Chicken needed (kgs)']

In [77]:
for train, test in kf:
    model = LinearRegression()
    model.fit(x.iloc[train], y.iloc[train])
    print(model.score(x.iloc[test], y.iloc[test]))
    models.append(model)

0.507814653132
0.655682319839
0.548237616355
0.769693350787
-26.5141923485
-30.8426002688

In [78]:
optModel = models[3]

In [82]:
optModel.predict([1, 16, 63, 1, 1])

C:\Users\prasa\Anaconda3\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 97.70629862])